* {
    margin: 0;
    padding: 0;
}

.test-wrapper {
    margin: 40px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list {
    padding: 10px 20px;
    border-radius: 5px;
    color: #0b0e49;
    background-color: rgba(22, 64, 77, 0.1);
    box-shadow: 0 0 5px rgba(3, 37, 45, 0.3);
}